.c3 {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  align-items: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
}
.c4 {
  color: #fafafa;
  background-color: rgb(185, 185, 185);
}
.c5 {
  width: 100%;
  height: auto;
  max-width: 100%;
}
</style><style type="text/css" data-jss="">
.c2 {
  width: 145px;
  height: 145px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),0px 4px 5px 0px rgba(0, 0, 0, 0.14),0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 1em;
}
</style><style type="text/css" data-jss="">
.c8 {
  margin: 0;
  display: block;
}
.c9 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 7rem;
  font-weight: 300;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.14286em;
  margin-left: -.06em;
  letter-spacing: -.04em;
}
.c10 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 3.5rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.30357em;
  margin-left: -.04em;
  letter-spacing: -.02em;
}
.c11 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 2.8125rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.06667em;
  margin-left: -.04em;
}
.c12 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 2.125rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.20588em;
  margin-left: -.04em;
}
.c13 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.35417em;
}
.c14 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.3125rem;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.16667em;
}
.c15 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5em;
}
.c16 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.71429em;
}
.c17 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.46429em;
}
.c18 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.75rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.375em;
}
.c19 {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
}
.c20 {
  text-align: left;
}
.c21 {
  text-align: center;
}
.c22 {
  text-align: right;
}
.c23 {
  text-align: justify;
}
.c24 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.c25 {
  margin-bottom: 0.35em;
}
.c26 {
  margin-bottom: 16px;
}
.c27 {
  color: inherit;
}
.c28 {
  color: #673ab7;
}
.c29 {
  color: rgba(0, 0, 0, 0.54);
}
.c30 {
  color: #2979ff;
}
.c31 {
  color: #ff1744;
}
</style><style type="text/css" data-jss="">
.c6 {
  color: inherit;
  text-align: center;
  font-weight: 500;
  margin-bottom: .2em;
}
.c7 {
  color: inherit;
  opacity: 0.7;
  text-align: center;
  font-weight: 300;
  margin-bottom: 3em;
}
</style><style type="text/css" data-jss="">
.c50 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none;
}
.c51 {
  opacity: 1;
}
.c52 {
  opacity: 0;
  animation: mui-ripple-exit 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c53 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  animation: mui-ripple-pulsate 1500ms cubic-bezier(0.4, 0, 0.2, 1) 200ms infinite;
}
@-webkit-keyframes mui-ripple-enter {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes mui-ripple-exit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes mui-ripple-pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.c54 {
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  opacity: 0;
  position: absolute;
  background: currentColor;
  border-radius: 50%;
}
.c55 {
  opacity: 0.3;
  transform: scale(1);
  animation: mui-ripple-enter 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c56 {
  animation-duration: 200ms;
}
</style><style type="text/css" data-jss="">
.c48 {
  color: inherit;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.c49 {
  cursor: default;
  pointer-events: none;
}
</style><style type="text/css" data-jss="">
.c34 {
  color: rgba(0, 0, 0, 0.87);
  padding: 11px 16px;
  font-size: 14px;
  min-width: 88px;
  box-sizing: border-box;
  min-height: 36px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-weight: 500;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1em;
  border-radius: 2px;
  text-transform: uppercase;
}
.c34:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.12);
}
@media (hover: none) {
  .c34:hover {
    background-color: transparent;
  }
}
.c34:hover.c46 {
  background-color: transparent;
}
.c35 {
  padding: 10px 8px;
  min-width: 64px;
  font-size: 13px;
  min-height: 32px;
}
.c36 {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.c37 {
  color: #673ab7;
}
.c37:hover {
  background-color: rgba(103, 58, 183, 0.12);
}
@media (hover: none) {
  .c37:hover {
    background-color: transparent;
  }
}
.c38 {
  color: #448aff;
}
.c38:hover {
  background-color: rgba(68, 138, 255, 0.12);
}
@media (hover: none) {
  .c38:hover {
    background-color: transparent;
  }
}
.c39 {
  color: rgba(255, 255, 255, 1);
}
.c39:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
@media (hover: none) {
  .c39:hover {
    background-color: transparent;
  }
}
.c40 {
  color: inherit;
}
.c41 {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  background-color: #e0e0e0;
}
.c41.c42 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),0px 6px 10px 0px rgba(0, 0, 0, 0.14),0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.c41:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),0px 8px 10px 1px rgba(0, 0, 0, 0.14),0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.c41.c46 {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
}
.c41:hover {
  background-color: #d5d5d5;
}
@media (hover: none) {
  .c41:hover {
    background-color: #e0e0e0;
  }
}
.c41:hover.c46 {
  background-color: rgba(0, 0, 0, 0.12);
}
@media (hover: none) {
  .c41:hover.c46 {
    background-color: #e0e0e0;
  }
}
.c43 {
  color: rgba(255, 255, 255, 1);
  background-color: #673ab7;
}
.c43:hover {
  background-color: #512da8;
}
@media (hover: none) {
  .c43:hover {
    background-color: #673ab7;
  }
}
.c44 {
  color: rgba(255, 255, 255, 1);
  background-color: #448aff;
}
.c44:hover {
  background-color: #2979ff;
}
@media (hover: none) {
  .c44:hover {
    background-color: #448aff;
  }
}
.c45 {
  color: rgba(255, 255, 255, 1);
}
.c46 {
  color: rgba(0, 0, 0, 0.26);
}
.c47 {
  width: 56px;
  height: 56px;
  padding: 0;
  min-width: 0;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),0px 6px 10px 0px rgba(0, 0, 0, 0.14),0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
}
.c47:active {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),0px 12px 17px 2px rgba(0, 0, 0, 0.14),0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
</style><style type="text/css" data-jss="">
.c32 {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}
.c33 {
  margin-left: .5em;
  margin-right: .5em;
}
</style><style type="text/css" data-jss="">
.c1 {
  color: #f5f5f5;
  z-index: 999;
  flex-grow: 1;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),0px 4px 5px 0px rgba(0, 0, 0, 0.14),0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding-top: 104px;
  padding-bottom: 104px;
  background-color: #512da8;
}
</style><style type="text/css" data-jss="">
.c64 {
  background-color: #fff;
}
.c65 {
  border-radius: 2px;
}
.c66 {
  box-shadow: none;
}
.c67 {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.c68 {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.c69 {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2),0px 3px 4px 0px rgba(0, 0, 0, 0.14),0px 3px 3px -2px rgba(0, 0, 0, 0.12);
}
.c70 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),0px 4px 5px 0px rgba(0, 0, 0, 0.14),0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.c71 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),0px 5px 8px 0px rgba(0, 0, 0, 0.14),0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
.c72 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),0px 6px 10px 0px rgba(0, 0, 0, 0.14),0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.c73 {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),0px 7px 10px 1px rgba(0, 0, 0, 0.14),0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}
.c74 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),0px 8px 10px 1px rgba(0, 0, 0, 0.14),0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.c75 {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),0px 9px 12px 1px rgba(0, 0, 0, 0.14),0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}
.c76 {
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),0px 10px 14px 1px rgba(0, 0, 0, 0.14),0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}
.c77 {
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),0px 11px 15px 1px rgba(0, 0, 0, 0.14),0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}
.c78 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),0px 12px 17px 2px rgba(0, 0, 0, 0.14),0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
.c79 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),0px 13px 19px 2px rgba(0, 0, 0, 0.14),0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}
.c80 {
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),0px 14px 21px 2px rgba(0, 0, 0, 0.14),0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}
.c81 {
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),0px 15px 22px 2px rgba(0, 0, 0, 0.14),0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}
.c82 {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),0px 16px 24px 2px rgba(0, 0, 0, 0.14),0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}
.c83 {
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),0px 17px 26px 2px rgba(0, 0, 0, 0.14),0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}
.c84 {
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),0px 18px 28px 2px rgba(0, 0, 0, 0.14),0px 7px 34px 6px rgba(0, 0, 0, 0.12);
}
.c85 {
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),0px 19px 29px 2px rgba(0, 0, 0, 0.14),0px 7px 36px 6px rgba(0, 0, 0, 0.12);
}
.c86 {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),0px 20px 31px 3px rgba(0, 0, 0, 0.14),0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}
.c87 {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),0px 21px 33px 3px rgba(0, 0, 0, 0.14),0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}
.c88 {
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),0px 22px 35px 3px rgba(0, 0, 0, 0.14),0px 8px 42px 7px rgba(0, 0, 0, 0.12);
}
.c89 {
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),0px 23px 36px 3px rgba(0, 0, 0, 0.14),0px 9px 44px 8px rgba(0, 0, 0, 0.12);
}
.c90 {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),0px 24px 38px 3px rgba(0, 0, 0, 0.14),0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
</style><style type="text/css" data-jss="">
.c59 {
  margin-bottom: 32px;
}
.c60 {
  padding: 16px;
  overflow: hidden;
  text-align: left;
  transition: all .2s ease;
}
.c60:hover {
  transform: translateY(-1%);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),0px 8px 10px 1px rgba(0, 0, 0, 0.14),0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.c61 {
  width: 64px;
  float: left;
  height: 64px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),0px 4px 5px 0px rgba(0, 0, 0, 0.14),0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin-right: 16px;
}
.c62 {
  width: 140px;
  word-wrap: break-word;
  margin-bottom: .3em;
}
.c63 {
  width: 10px;
  height: 10px;
  margin-right: 8px;
}
</style><style type="text/css" data-jss="">
.c57 {
  width: 1120px;
  flex-basis: 1120px;
  margin-top: 8px;
  padding-top: 104px;
  padding-bottom: 104px;
  background-color: #fafafa;
}
.c58 {
  margin-bottom: 56px;
}
</style><style type="text/css" data-jss="">
.c129 {
  margin-top: 4em;
}
.c130 {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}
.c131 {
  margin-left: .5em;
  margin-right: .5em;
}
</style><style type="text/css" data-jss="">
.c127 {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.87);
}
.c128 {
  width: 1120px;
  flex-basis: 1120px;
  margin-top: 0;
  padding-top: 104px;
  padding-bottom: 104px;
}
</style><style type="text/css" data-jss="">
.c112 {
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  position: relative;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding-bottom: 2px;
}
label + .c113 {
  margin-top: 16px;
}
.c114:after {
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  background-color: #6200ea;
}
.c114.c119:after {
  transform: scaleX(1);
}
.c115:after {
  transform: scaleX(1);
  background-color: #ff1744;
}
.c116 {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 7px 0;
  display: block;
  box-sizing: content-box;
  background: none;
  vertical-align: middle;
}
.c116::-webkit-input-placeholder {
  color: currentColor;
  opacity: 0.42;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.c116::-moz-placeholder {
  color: currentColor;
  opacity: 0.42;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.c116:-ms-input-placeholder {
  color: currentColor;
  opacity: 0.42;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.c116::-ms-input-placeholder {
  color: currentColor;
  opacity: 0.42;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.c116:focus {
  outline: 0;
}
.c116:invalid {
  box-shadow: none;
}
.c116::-webkit-search-decoration {
  -webkit-appearance: none;
}
label[data-shrink=false] + .c113 .c116::-webkit-input-placeholder {
  opacity: 0;
}
label[data-shrink=false] + .c113 .c116::-moz-placeholder {
  opacity: 0;
}
label[data-shrink=false] + .c113 .c116:-ms-input-placeholder {
  opacity: 0;
}
label[data-shrink=false] + .c113 .c116::-ms-input-placeholder {
  opacity: 0;
}
label[data-shrink=false] + .c113 .c116:focus::-webkit-input-placeholder {
  opacity: 0.42;
}
label[data-shrink=false] + .c113 .c116:focus::-moz-placeholder {
  opacity: 0.42;
}
label[data-shrink=false] + .c113 .c116:focus:-ms-input-placeholder {
  opacity: 0.42;
}
label[data-shrink=false] + .c113 .c116:focus::-ms-input-placeholder {
  opacity: 0.42;
}
.c117 {
  padding-top: 4px;
}
.c118 {
  color: rgba(0, 0, 0, 0.38);
}
.c120:before {
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  content: "";
  position: absolute;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgba(0, 0, 0, 0.42);
}
.c120:hover:not(.c118):before {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.87);
}
.c120.c118:before {
  background: transparent;
  background-size: 5px 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 33%, transparent 0%);
  background-repeat: repeat-x;
  background-position: left top;
}
.c121 {
  padding: 6px 0 7px;
}
.c122 {
  opacity: 1;
}
.c123 {
  height: 1em;
}
.c124 {
  -webkit-appearance: textfield;
}
.c125 {
  resize: none;
  padding: 0;
}
.c126 {
  width: 100%;
}
</style><style type="text/css" data-jss="">
.c108 {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1;
}
.c109 {
  color: #6200ea;
}
.c110 {
  color: #ff1744;
}
.c111 {
  color: rgba(0, 0, 0, 0.42);
}
</style><style type="text/css" data-jss="">
.c98 {
  margin: 0;
  border: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
}
.c99 {
  margin-top: 16px;
  margin-bottom: 8px;
}
.c100 {
  margin-top: 8px;
  margin-bottom: 4px;
}
.c101 {
  width: 100%;
}
</style><style type="text/css" data-jss="">
.c102 {
  transform-origin: top left;
}
.c103 {
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(0, 23px) scale(1);
}
.c104 {
  transform: translate(0, 21px) scale(1);
}
.c105 {
  transform: translate(0, 1.5px) scale(0.75);
  transform-origin: top left;
}
.c106 {
  transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}
.c107 {
  color: rgba(0, 0, 0, 0.42);
}
</style><style type="text/css" data-jss="">
.c91 {
  color: #f5f5f5;
  padding: 48px;
  background-color: #512da8;
}
.c92 {
  width: 1120px;
  flex-grow: 1120;
}
.c93 {
  color: rgba(255, 255, 255, 0.7);
}
.c94 {
  width: 18em;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 1em;
}
.c94:before {
  background-color: rgba(255, 255, 255, 0.5);
}
.c94:after {
  background-color: rgba(255, 255, 255, 0.7);
}
.c94:hover:before {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.c95 {
  margin-left: 2em;
}
@media screen and (max-width: 768px) {
  .c95 {
    margin-left: 0;
  }
}
.c96 {
  background-color: #f44336;
}
.c96:hover {
  background-color: #d32f2f;
}
.c97 {
  cursor: default;
  background-color: #4caf50;
}
.c97:hover {
  background-color: #388e3c;
}