body{
    overflow-x: hidden;
}


.navi {
    list-style-type: none;
    margin: 0;
}


.social_navi {
    list-style-type: none;
    margin: 9px;
}

.navi > li{
    display: inline;
    margin: 5px;
    font-family: sans-serif;
    color: white;
    border-right: 2px solid white;
    padding-right: 5px;   
}

.social_navi li{
  float:right;
  margin:5px;
  text-decoration:none;
  display:inline;
  
}
.social_navi a{
  text-decoration:none;
  color:white;
}

#top-bar {
    height: 30px;
    background: black;
    padding-top:9px;
    background: linear-gradient(gray,black,gray)
}
.navi a{
  color:white;
  text-decoration: none;
  font-size: :25px;
}

.social_navi a:hover {
   text-decoration: none;
   font-size:25px;
}


.navi a:hover {
   text-decoration: underline; 
   font-size:20px;
}

header {
    height: 100vh - 30px;
    width: 100vw;
}
#social{
    position:fixed;
    top:0px;
    left:1180px;
    padding-bottom: 12px;
}
