.mec-logo {
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.87);
}

footer {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.87);
  height: 30vh;
}
