.header {
  overflow: hidden;
  background-color: teal;
  padding: 20px 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.ieee {
  font-size: 25px;
  font-weight: bold;
}
.header a:hover {
  background-color: slateblue;
  color: black;
}
.header a.active {
  background-color: teal;
  color: slategray;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
    }
    .center-xs {
      -ms-flex-pack: center;
      -webkit-box-pack: center;
      justify-content: center;
      text-align: center;
    }
    .c1 {
    color: #f5f5f5;
    z-index: 999;
    flex-grow: 1;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),0px 4px 5px 0px rgba(0, 0, 0, 0.14),0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    padding-top: 104px;
    padding-bottom: 104px;
    background-color: #512da8;
    }
    
    .col-xs-12 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
    }

    .c3 {
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
    }

    
    .c5 {
    width: 100%;
    height: auto;
    max-width: 100%;
    }

    .c2 {
    width: 145px;
    height: 145px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),0px 4px 5px 0px rgba(0, 0, 0, 0.14),0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 1em;
    }


    .c8 {
    margin: 0;
    display: block;
    }

    .c11 {
    color: rgba(0, 0, 0, 0.54);
    font-size: 2.8125rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.06667em;
    margin-left: -.04em;
    }

    .c6 {
    color: inherit;
    text-align: center;
    font-weight: 500;
    margin-bottom: .2em;
    }

    .c7 {
    color: inherit;
    opacity: 0.7;
    text-align: center;
    font-weight: 300;
    margin-bottom: 3em;
    }

    .c14 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.3125rem;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.16667em;
    }

    
    .c25 {
    margin-bottom: 0.35em;
    }
